﻿/**************************************************************
                         HOMEPAGE CSS
**************************************************************/

:root {
}

body {
    background-color: hsl(0, 0%, 90%);
}


/*  Inizia la lista di parti uguali ovunque */
section.main_section > .container-fluid {
    height: 100%;
    padding: 0;
    background-image: url('../images/background/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

section#home > .container-fluid {
    height: 600px;
    width: 100%;
    background-size: 100% 85%;
}

section > .container-fluid > #main_content_row {
    justify-content: center !important;
    align-content: center !important;
}

#main_content_row {
    height: 100% !important;
    padding: 20px 0;
    /*     width: 100%; */
}
/*  Finisce la lista di parti uguali ovunque */

.mycustom-jumbotron {
    background-color: rgba(230, 230, 230, 0.6) !important;
}

#zone_title {
    padding: 0;
    margin: 0;
}

.mycustom-jumbotron label {
    display: none;
}

.mycustom-jumbotron > form > input {
    background-color: hsla(0, 0%, 100%, 0.75);
}


.events_row {
    padding-left: 20px;
    padding-right: 20px;
}

.cont {
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: 0 0 10px grey;
    overflow: hidden;
}

@media screen and (min-width: 1601px) {
    .casella_evento {
        padding: 20px 2% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .casella_evento {
        padding: 20px 20px !important;
    }
}


.casella_evento {
    padding: 20px 20px;
}

a:link {
    text-decoration: none;
}

.cont:hover {
    background-color: rgba(0, 0, 0, 0.2);
    filter: brightness(50%);
}

.event_image_row {
    margin: 0 !important;
    padding: 0 !important;
}

    .event_image_row .col {
        padding: 0;
    }

.event_image {
    width: 100%;
}


h6 {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: rgba(140, 0, 0, 0.6);
    margin: 0 !important;
}


.event_name {
    text-align: center;
    font-weight: bold;
    color: rgba(50, 50, 50, 1);
    padding-top: 5px;
    padding-bottom: 15px;
}

/******   INIZIO VERSIONE >= 1800  ********/

@media screen and (min-width: 1801px) {


    .events_row {
        width: 1801px !important;
        margin: 0 auto !important;
    }
}

/****** FINE VERSIONE ********/


@media screen and (min-width: 1400px) {
    #main_content_row > div#colonna_jumbotron {
        max-width: 953px !important;
        padding: 0;
    }

    #jumbotron {
        margin: 0;
        height: 320px;
        padding-top: 80px;
    }

        #jumbotron > form {
            padding-top: 60px !important;
        }

            #jumbotron > form > input {
                max-width: 800px;
                margin: 0 auto;
            }
}


@media screen and (min-width: 992px) {

    #main_content_row {
        justify-content: center !important;
        align-content: center !important;
    }

    #jumbotron {
        text-align: center;
    }

        #jumbotron > form {
            padding-top: 45px;
        }
}


/****** INIZIO VERSIONE >= 577PX ********/

@media screen and (min-width: 577px) {
    div.eventi > div.container-fluid {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .type_events {
        padding-top: 0;
        margin: 20px auto;
    }
}

/****** FINE VERSIONE ********/

/****** ZONA JUMBOTRON - VERSIONE SMALL <= 800PX **********/

@media screen and (max-width: 991px) {

    section#home > .container-fluid {
        height: 300px;
        background-image: url('../images/background/background.png');
        background-size: 100% 100%;
    }

    #jumbotron {
        padding-top: 85px;
        margin: 0 !important;
        height: 100% !important;
        border-radius: 0;
    }

        #jumbotron > form {
            padding-top: 30px;
        }

    h1 {
        text-align: center;
        font-size: xx-large !important;
    }
}


/****** ZONA EVENTI - VERSIONE SMALL <= 576PX **********/

@media screen and (max-width: 576px) {

    div.eventi {
        padding-top: 15px;
    }

    h2 {
        font-size: x-large !important;
    }


    .cont {
        border-radius: 0 !important;
    }

    .casella_evento {
        padding: 10px !important;
    }

    .events_row {
        padding: 10px !important;
    }
}

/****** FINE VERSIONE SMALL ******/


/**************************************************************
                     HOMEPAGE CSS FINE
**************************************************************/
