/*
 * PER FITTARE LA PAGINA
 */
html,
body {
    height: 100%;
    margin: 0
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
}


header {
    flex: 0 1 auto;
}

section {
    flex: 1 1 auto;
}

footer {
    flex: 0 1 40px;
}

/*********************/

/*.feet{*/
/*    height: 400px;*/
/*}*/

/*.feet > .col-12.col-md-8{*/
/*    max-height: 100% !important;*/
/*}*/

/*.feet > .col-12.col-md-8 > #demo{*/
/*    max-height: 100% !important;*/
/*}*/

/*.feet > .col-12.col-md-8 > #demo > .carousel-inner{*/
/*    max-height: 100% !important;*/
/*}*/

/*.feet > .col-12.col-md-8 > #demo > .carousel-inner > .carousel-item{*/
/*    height: 100% !important;*/
/*}*/

/*.carousel-item > img{*/
/*    max-height: 400px !important;*/
/*    width: 100% !important;*/
/*}*/

/*.collonna_titolo{*/
/*    align-self: center;*/
/*}*/

.event_image{
    width: 100%;
}

.feet{
    margin: auto;
}

button{
    width: 100%;
}
/**************************
PARTE UGUALE A HOMEPAGE
 *************************/

body {
    background-color: hsl(0, 0%, 90%);
}

section.event > .container-fluid {
    height: 100%;
    padding: 0;
    background-image: url('../images/background/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

section > .container-fluid > #main_content_row {
    justify-content: center !important;
    align-content: center !important;
}

#main_content_row {
    height: 100% !important;
    padding: 20px 0;
    /*     width: 100%; */
}

.mycustom-jumbotron {
    background-color: rgba(230, 230, 230, 0.6);
    margin: 0px !important;
}

.mycustom-jumbotron > form > input {
    background-color: hsla(0, 0%, 100%, 0.75);
}

#jumbotron {
    /*text-align: center;*/
}

label {
    display: none;
}

label.seeInput {
	display: initial;
}

@media screen and (max-width: 991px) {

    section#login > .container-fluid {
        background-image: url('../images/background/background.png');
        background-size: 100% 100%;
    }

    #jumbotron {
        padding-top: 30px;
        margin: 0 !important;
        /*height: 100% !important;*/
        border-radius: 0;
        background-color: rgba(230, 230, 230, 0.45);
    }

    #jumbotron > form {
        padding-top: 30px;
    }

    h1 {
        text-align: center;
        font-size: xx-large !important;
    }

}

/****************************
END - PARTE UGUALE A HOMEPAGE
 ****************************/

/*@media screen and (max-width: 576px) {*/

/*    .container-fluid {*/
/*        padding: 0;*/
/*    }*/

/*    .mycustom-jumbotron {*/
/*        margin: 0;*/
/*        padding: 0;*/
/*        border-radius: 0;*/
/*        background-color: hsla(0, 0%, 100%, 1);*/
/*    }*/

/*    .collonna_titolo {*/
/*        margin: 10px;*/
/*    }*/

/*    h1 {*/
/*        font-size: x-large;*/
/*        margin: 0;*/
/*        font-family: Arial, Helvetica, sans-serif;*/
/*        font-weight: bold;*/
/*        color: hsla(0, 0%, 20%, 1);*/
/*    }*/

/*    hr {*/
/*        margin-bottom: 0;*/
/*    }*/

/*    h2 {*/
/*        font-weight: bold;*/
/*        font-size: large;*/
/*        color: hsla(0, 0%, 20%, 1);*/
/*    }*/

/*    .eed {*/
/*        padding: 0 15px;*/
/*    }*/

/*    .titolo_evento {*/
/*        !*margin: 0;*!*/
/*    }*/

/*    p{*/
/*        color: hsla(0, 0%, 30%, 1);*/
/*    }*/
/*}*/

@media screen and (max-width: 1100px) {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

