/**************************************************************
                         HOMEPAGE CSS
**************************************************************/

:root {

}

body {
    background-color: rgb(230, 230, 230);
}


.mycustom-jumbotron {
    background-color: rgba(230, 230, 230, 0.6) !important;
}


@media screen and (max-width: 901px) {
    #colonna_jumbotron {
        padding: 0 !important;
    }

    #jumbotron {
        border-radius: 0;
    }
}

#zone_title {
    padding: 0;
    margin: 0;
}

.mycustom-jumbotron .row .col {
    margin: 0;
    padding: 10px 10px;
}

.mycustom-jumbotron h1 {
    color: rgba(0, 0, 0, 0.8);
}

.mycustom-jumbotron form {
    padding: 0;
    margin: 0px 0px auto;
}

.mycustom-jumbotron form input {
    /*padding: 0;*/
    background-color: rgba(255, 255, 255, 0.6)
}

.mycustom-jumbotron label{
    display: none;
}

.events_row {
    padding-left: 20px;
    padding-right: 20px;
    /*padding: 0 5%;*/
}

.cont {
    max-width: 100%;
    height: 100%;
    border-radius: 0px;
    box-shadow: 0 0 10px grey;
    overflow: hidden;
}

@media screen and (min-width: 1601px) {
    .casella_evento {
        padding: 20px 2% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .casella_evento {
        padding: 20px 20px !important;
    }
}


.casella_evento {
    padding: 20px 20px;
}

a:link {
    text-decoration: none;
}

.cont:hover {
    background-color: rgba(0, 0, 0, 0.2);
    filter: brightness(50%);
}

.event_image_row {
    margin: 0 !important;
    padding: 0 !important;
}

.event_image_row .col {
    padding: 0;
}

.event_image {
    width: 100%;
}

.event_date_row {
    /*margin: 15px auto 0;*/
}

h6 {
    /*padding: 10px auto 10px;*/
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: rgba(140, 0, 0, 0.6);
    margin: 0 !important;
}


.event_name {
    text-align: center;
    font-weight: bold;
    /*font-size: x-large;*/
    color: rgba(50, 50, 50, 1);
    padding-top: 5px;
    padding-bottom: 15px;
}

/******   INIZIO VERSIONE >= 1800  ********/

@media screen and (min-width: 1801px) {

    .mycustom-jumbotron .row .col {
        margin: 0;
        padding: 30px 10px !important;
    }

    #zone_title {
        font-size: xxx-large;
    }

    div.col-12#immagine_dietro > .row {
        margin-top: 100px;
        /*height: 350px !important;*/
    }

    #colonna_jumbotron {
        margin: 0 auto 0;
        max-width: 1000px !important;
        /*padding: 0 3% !important;*/
    }

    .mycustom-jumbotron {
        /*padding: 95px 0 !important;*/
        /*border: 1px solid #003366;*/
        height: 100%;
        text-align: center;
        width: 100%;
        background-color: rgba(23, 230, 150, 1);
    }

    .events_row {
        width: 1801px !important;
        margin: 0 auto !important;
    }
}

/****** FINE VERSIONE ********/


/******   INIZIO VERSIONE >= 801PX & <= 1800PX  ********/

@media screen and (min-width: 801px) and (max-width: 1800px) {

    #colonna_jumbotron {
        margin: 0 auto;
        max-width: 800px !important;
        /*padding: 0 3% !important;*/
    }

    .mycustom-jumbotron {
        padding: 53px 45px 65px;
        /*border: 1px solid #003366;*/
        text-align: center;
        width: 100%;
        margin: 100px 0;
        background-color: rgba(230, 230, 230, 0.8);
    }
}

/****** FINE VERSIONE ********/


/******   INIZIO VERSIONE >= 578PX & <= 800PX  ********/

@media screen and (min-width: 578px) and (max-width: 800px) {

    #immagine_dietro{
        height: 400px !important;
    }

    #colonna_jumbotron {
        margin: 0 auto;
        max-width: 600px !important;
        /*padding: 0 3% !important;*/
    }

    .mycustom-jumbotron {
        padding: 53px 45px 65px;
        /*border: 1px solid #003366;*/
        text-align: center;
        width: 100%;
        margin: 60px 0;
        background-color: rgba(230, 230, 230, 0.8);
    }

}

/****** FINE VERSIONE ********/


/****** INIZIO VERSIONE >= 577PX ********/

@media screen and (min-width: 577px) {
    #immagine_dietro {
        height: 700px;
        width: 100%;
        background-image: url('../images/background/background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    div.eventi > div.container-fluid{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .type_events {
        padding-top: 0;
        margin: 20px auto;
    }
}

/****** FINE VERSIONE ********/

/****** VERSIONE SMALL <= 576PX **********/

@media screen and (max-width: 576px) {

    #immagine_dietro {
        height: 280px;
        width: 100%;
        background-image: url('../images/background/background.png');
        background-size: cover;
    }

    #immagine_dietro > .row{
        height: 100%;
    }

    #jumbotron{
        padding-top: 60px !important;
        margin: 0 !important;
        height: 100% !important;
    }

    h1 {
        text-align: center;
        font-size: xx-large !important;
    }

    div.eventi{
        padding-top: 15px;
    }

    h2 {
        font-size: x-large !important;
    }


    .cont {
        border-radius: 0 !important;
    }

    .casella_evento {
        padding: 10px !important;
    }

    .events_row {
        padding: 10px !important;
    }
}

/****** FINE VERSIONE SMALL ******/


/**************************************************************
                     HOMEPAGE CSS FINE
**************************************************************/