/*****************************************
        PER TUTTE LE DIMENSIONI
 *****************************************/
section > .container-fluid {
    padding: 0;
}


/*
 * PER FITTARE LA PAGINA
 */
html,
body {
    height: 100%;
    margin: 0
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
}


header {
    flex: 0 1 auto;
}

section {
    flex: 1 1 auto;
}

footer {
    flex: 0 1 40px;
}

/*********************/

/**************************
PARTE UGUALE A HOMEPAGE
 *************************/

body {
    background-color: hsl(0, 0%, 90%);
}

section#login > .container-fluid {
    height: 100%;
    padding: 0;
    background-image: url('../images/background/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

section > .container-fluid > #main_content_row {
    justify-content: center !important;
    align-content: center !important;
}

#main_content_row {
    height: 100% !important;
    padding: 20px 0;
    /*     width: 100%; */
}

.mycustom-jumbotron {
    background-color: rgba(230, 230, 230, 0.6);
    margin: 0px !important;
}

.mycustom-jumbotron > form > input {
    background-color: hsla(0, 0%, 100%, 0.75);
}

#jumbotron {
    text-align: center;
}

label {
    display: none;
}

@media screen and (max-width: 991px) {

    section#login > .container-fluid {
        background-image: url('../images/background/background.png');
        background-size: 100% 100%;
    }

    #jumbotron {
        padding-top: 30px;
        margin: 0 !important;
        height: 100% !important;
        border-radius: 0;
        background-color: rgba(230, 230, 230, 0.45);
    }

    #jumbotron > form {
        padding-top: 30px;
    }

    h1 {
        text-align: center;
        font-size: xx-large !important;
    }

}

/****************************
END - PARTE UGUALE A HOMEPAGE
 ****************************/

#input_data_account > input, .miaom > input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
}

p[class="psw"] {
    font-size: large;

}

.incorrect {
    padding: 10px 0;
    margin: 0;
    display: block;
    font-size: large;
    color: hsl(0, 100%, 40%);
    text-decoration: underline;
    font-weight: bold;
}

button[type="submit"] {
    background-color: hsl(225, 35%, 38%);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: hsla(224, 45%, 48%, 0.9);
}

.row-input {
    margin-bottom: 2% !important;
}

