body{
    background-image: url('../images/background/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* .mycustom-jumbotron {
    margin: 9% 10% 5%;
    padding: 1%;
} */

/*
 * PER FITTARE LA PAGINA
 */
html,
body {
    height: 100%;
    margin: 0
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
}


header {
    flex: 0 1 auto;
}

section {
    flex: 1 1 auto;
}

footer {
    flex: 0 1 40px;
}

/*********************/


/**************************
PARTE UGUALE A HOMEPAGE
 *************************/

body {
    background-color: hsl(0, 0%, 90%);
}

section.profile > .container-fluid {
    height: 100%;
    padding: 0;
    background-image: url('../images/background/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

section > .container-fluid > #main_content_row {
    justify-content: center !important;
    align-content: center !important;
}

#main_content_row {
    height: 100% !important;
    padding: 20px 0;
    /*     width: 100%; */
}

.mycustom-jumbotron {
    background-color: rgba(230, 230, 230, 0.6);
    margin: 0px !important;
}

.mycustom-jumbotron > form > input {
    background-color: hsla(0, 0%, 100%, 0.75);
}

/* #jumbotron {
    text-align: center;
} */

label {
    display: none;
}

@media screen and (max-width: 991px) {

    section#login > .container-fluid {
        background-image: url('../images/background/background.png');
        background-size: 100% 100%;
    }

    #jumbotron {
        padding-top: 30px;
        margin: 0 !important;
        height: 100% !important;
        border-radius: 0;
        background-color: rgba(230, 230, 230, 0.45);
    }

    #jumbotron > form {
        padding-top: 30px;
    }

    h1 {
        text-align: center;
        font-size: xx-large !important;
    }

}

/****************************
END - PARTE UGUALE A HOMEPAGE
 ****************************/
.event_image{
    width: 100%;
}

div[class="row title"]{
    /*     margin: 10px auto; */
}

h1{
    font-size: xx-large;
}

p > span{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

img[alt="event_logo"]{
    max-width: 100%;
    max-height: 100%;
}