/*************************************************************
                        NAVBAR CSS
 *************************************************************/
:root {
    --height: 70px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.panel > a{
    color: hsl(0, 0%, 30%); !important;
}

#logo_navbar {
    height: var(--height);
    padding: 10px !important;
}

#image_logo_navbar {
    max-height: 100%;
    box-shadow: 0px 0px 20px 2px hsl(0, 0%, 70%);
    border-radius: 4px;
}

.topnav {
    overflow: hidden;
    background-color: rgba(210, 210, 210, 0.8);
}

div.panel a{
    height: var(--height);
    padding: 23px 10px;
}

#search_form_id{
    padding: 16px 0;
    margin-top: 2px;
}

#search_form_id > input{
    box-shadow: 0 0 30px 2px hsl(0, 0%, 80%);
}

#search_form_id > label{
    display: none;
}
@media screen and (min-width: 2001px){
    #search_form_id{
        position: absolute;
        right: 30%;
        left: 30%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1201px) and (max-width: 2000px){

    #search_form_id{
        position: absolute;
        right: 25%;
        width: 50%;
        margin: 0 auto;
    }

    .panel{
        right: 20px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    #search_form_id{
        position: absolute;
        right: 260px;
        left: 200px;
    }

    .panel{
        right: 10px;
    }
}

@media screen and (min-width: 901px ){
    .panel{
        position: absolute;
        right: 10px;
        top: 0;
        height: var(--height);
    }
}

/*@media screen and (min-width: 601px ) and (max-width: 900px) {*/
/*    form{*/
/*        position: absolute;*/
/*        right: 100px;*/
/*        left: 100px;*/
/*    }*/
/*}*/


.topnav a, .topnav form {
    float: left;
    display: block;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: hsl(0, 0%, 70%);
    color: black;
}

.topnav #search_button:hover{
    text-decoration: none;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#magnify {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

.topnav #search_button, .topnav #burger_button {
    padding: 22px 22px;
    display: none;
    height: var(--height);
}


@media screen and (max-width: 900px) {
    div.panel a, .topnav form {
        display: none;
    }

    .topnav #burger_button, .topnav #search_button {
        /*float: right;*/
        position: absolute;
        display: block;
        top: 0;
        color: black;
    }

    #burger_button {
        right: 0;
    }

    #search_button {
        right: 60px;
    }
}


/***** PER QUANDO IL BOTTONE È ******/
@media screen and (max-width: 900px) {
    .topnav.responsive {
        position: relative;
    }

    /*.topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }*/

    #logo_navbar{
        width: 60px;
    }

    .topnav.responsive a, .topnav.responsive form {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive form{
        padding: 0 4px 4px 4px !important;
    }

    .no_display {
        display: none !important;
    }
}

/*************************************************************
                        NAVBAR CSS FINE
 *************************************************************/

#login > .container-fluid{
    padding: 0;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /*box-sizing: border-box;*/
}

span[class="psw"]{
    font-size: large;
}

button[type="submit"] {
    background-color: hsl(225, 35%, 38%);
    color: white;
    padding: 12px 20px;
    margin: 8px 0 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover{
    opacity: 0.7;
}

.row-input {
    margin-bottom: 2% !important;
}
/**************************************************************
                         HOMEPAGE CSS
**************************************************************/

:root {

}

body {
    background-color: rgb(230, 230, 230);
}

section#luogo_eventi > .container-fluid{
    height: 600px;
    width: 100%;
    padding: 0;
    background-image: url('../images/background/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 85%;
}

#main_content_row{
    height: 100% !important;
    /*justify-content: center;
    align-items: center;*/
}

.mycustom-jumbotron {
    background-color: rgba(230, 230, 230, 0.6) !important;
}


/* @media screen and (max-width: 901px) {
    #colonna_jumbotron {
        padding: 0 !important;
    }

    #jumbotron {
        border-radius: 0;
    }
}
 */
#zone_title {
    padding: 0;
    margin: 0;
}

/* .mycustom-jumbotron .row .col {
    margin: 0;
    padding: 10px 10px;
}

.mycustom-jumbotron h1 {
    color: rgba(0, 0, 0, 0.8);
}

.mycustom-jumbotron form {
    padding: 0;
    margin: 0px 0px auto;
}

.mycustom-jumbotron form input { */
/*padding: 0;*/
/*     background-color: rgba(255, 255, 255, 0.6)
}*/

.mycustom-jumbotron label{
    display: none;
}

.events_row {
    padding-left: 20px;
    padding-right: 20px;
    /*padding: 0 5%;*/
}

.cont {
    max-width: 100%;
    height: 100%;
    border-radius: 0px;
    box-shadow: 0 0 10px grey;
    overflow: hidden;
}

@media screen and (min-width: 1601px) {
    .casella_evento {
        padding: 20px 2% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .casella_evento {
        padding: 20px 20px !important;
    }
}


.casella_evento {
    padding: 20px 20px;
}

a:link {
    text-decoration: none;
}

.cont:hover {
    background-color: rgba(0, 0, 0, 0.2);
    filter: brightness(50%);
}

.event_image_row {
    margin: 0 !important;
    padding: 0 !important;
}

.event_image_row .col {
    padding: 0;
}

.event_image {
    width: 100%;
}

.event_date_row {
    /*margin: 15px auto 0;*/
}

h6 {
    /*padding: 10px auto 10px;*/
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: rgba(140, 0, 0, 0.6);
    margin: 0 !important;
}


.event_name {
    text-align: center;
    font-weight: bold;
    /*font-size: x-large;*/
    color: rgba(50, 50, 50, 1);
    padding-top: 5px;
    padding-bottom: 15px;
}

/******   INIZIO VERSIONE >= 1800  ********/

@media screen and (min-width: 1801px) {

    /*     .mycustom-jumbotron .row .col {
            margin: 0;
            padding: 30px 10px !important;
        } */

    /*     #zone_title {
            font-size: xxx-large;
        } */

    /*     div.col-12#immagine_dietro > .row {
            margin-top: 100px; */
    /*height: 350px !important;*/
    /*     } */

    /*     #colonna_jumbotron {
            margin: 0 auto 0;
            max-width: 1000px !important; */
    /*padding: 0 3% !important;*/
    /*     } */

    /*     .mycustom-jumbotron { */
    /*padding: 95px 0 !important;*/
    /*border: 1px solid #003366;*/
    /*         height: 100%;
            text-align: center;
            width: 100%;
            background-color: rgba(23, 230, 150, 1);
        } */

    .events_row {
        width: 1801px !important;
        margin: 0 auto !important;
    }
}
/****** FINE VERSIONE ********/


@media screen and (min-width: 1400px) {
    #main_content_row > div#colonna_jumbotron {
        max-width: 953px !important;
        /*border: 1px solid black;*/
        padding: 0;
    }

    #jumbotron{
        margin: 0;
        height: 320px;
        padding-top: 80px;

    }

    #jumbotron > form{
        padding-top: 60px !important;
    }

    #jumbotron > form > input{
        max-width: 800px;
        margin: 0 auto;
    }
}


/******   INIZIO VERSIONE >= 801PX & <= 1800PX  ********/

@media screen and (min-width: 801px) and (max-width: 1800px) {

    /*     #colonna_jumbotron {
            margin: 0 auto;
            max-width: 800px !important; */
    /*padding: 0 3% !important;*/
    /*     } */

    /*     .mycustom-jumbotron {
            padding: 53px 45px 65px; */
    /*border: 1px solid #003366;*/
    /*         text-align: center;
            width: 100%;
            margin: 100px 0;
            background-color: rgba(230, 230, 230, 0.8);
        } */
}

/****** FINE VERSIONE ********/


@media screen and (min-width: 992px) {

    #main_content_row{
        justify-content: center !important;
        align-content: center !important;
    }

    #jumbotron{
        text-align: center;
    }

    #jumbotron > form{
        padding-top: 45px;
    }

}

/******   INIZIO VERSIONE >= 578PX & <= 800PX  ********/

/* @media screen and (min-width: 578px) and (max-width: 800px) { */

/*     #immagine_dietro{
        height: 400px !important;
    }

    #colonna_jumbotron {
        margin: 0 auto;
        max-width: 600px !important; */
/*padding: 0 3% !important;*/
/*     } */

/*     .mycustom-jumbotron {
        padding: 53px 45px 65px; */
/*border: 1px solid #003366;*/
/*         text-align: center;
        width: 100%;
        margin: 60px 0;
        background-color: rgba(230, 230, 230, 0.8);
    } */

/* } */

/****** FINE VERSIONE ********/


/****** INIZIO VERSIONE >= 577PX ********/

@media screen and (min-width: 577px) {
    /*     #immagine_dietro {
            height: 700px;
            width: 100%;
            background-image: url('./../background/background.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        } */

    div.eventi > div.container-fluid{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .type_events {
        padding-top: 0;
        margin: 20px auto;
    }
}

/****** FINE VERSIONE ********/

/****** ZONA JUMBOTRON - VERSIONE SMALL <= 800PX **********/

@media screen and (max-width: 991px) {



    /*     #immagine_dietro {
            height: 280px;
            width: 100%;
            background-image: url('./../background/background.png');
            background-size: cover;
        }

        #immagine_dietro > .row{
            height: 100%;
        }

        #jumbotron{
            padding-top: 60px !important;
            margin: 0 !important;
            height: 100% !important;
        }
        */
    section#luogo_eventi > .container-fluid{
        height: 300px;
        background-image: url('../images/background/background.png');
        background-size: 100% 100%;
    }

    #jumbotron{
        padding-top: 85px;
        margin: 0 !important;
        height: 100% !important;
        border-radius: 0;
    }

    #jumbotron > form{
        padding-top: 30px;
    }

    h1 {
        text-align: center;
        font-size: xx-large !important;
    }

}


/****** ZONA EVENTI - VERSIONE SMALL <= 576PX **********/

@media screen and (max-width: 576px) {

    div.eventi{
        padding-top: 15px;
    }

    h2 {
        font-size: x-large !important;
    }


    .cont {
        border-radius: 0 !important;
    }

    .casella_evento {
        padding: 10px !important;
    }

    .events_row {
        padding: 10px !important;
    }
}

/****** FINE VERSIONE SMALL ******/


/**************************************************************
                     HOMEPAGE CSS FINE
**************************************************************/
/*** FOOTER STYLESHEET ***/
footer {
    /*padding: 2% 0 1%;*/
    padding: 20px 0;
    background-color: hsl(0, 0%, 76%);
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook-f {
    background: #3B5998;
}

.fab:hover {
    color: black;
}

.fab {
    color: #fff;
    padding: 6px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 20%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}

.fa-linkedin-in {
    background: #007bb5;
}

#colonnaContatti .contenitore_contatti p {
    padding-top: 4px;
}

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.contenitore_contatti > p {
    margin: 20px 0 !important;
    height: 35px;
}

@media screen and (max-width: 576px) {


    span.fas {
        display: none;
    }

    .link_social {
        display: none;
    }

    /*.footer-copyright{
        padding-bottom: 20px !important;
    }*/
}