body {
    background-image: url('images/background/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

@media screen and (max-width: 576px) {

    .container-fluid {
        padding: 0;
    }

    .mycustom-jumbotron {
        margin: 0;
        padding: 0;
        border-radius: 0;
        background-color: hsla(0, 0%, 100%, 1);
    }

    .collonna_titolo {
        margin: 10px;
    }

    h1 {
        font-size: x-large;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: hsla(0, 0%, 20%, 1);
    }

    hr {
        margin-bottom: 0;
    }

    h2 {
        font-weight: bold;
        font-size: large;
        color: hsla(0, 0%, 20%, 1);
    }

    .eed {
        padding: 0 15px;
    }

    .titolo_evento {
        /*margin: 0;*/
    }

    p{
        color: hsla(0, 0%, 30%, 1);
    }
}

@media screen and (max-width: 1100px) {
    .fit-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        /*height: 300px; /* only if you want fixed height */
    }
}