#login > .container-fluid{
    padding: 0;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /*box-sizing: border-box;*/
}

span[class="psw"]{
    font-size: large;
}

button[type="submit"] {
    background-color: hsl(225, 35%, 38%);
    color: white;
    padding: 12px 20px;
    margin: 8px 0 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover{
    opacity: 0.7;
}

.row-input {
    margin-bottom: 2% !important;
}
