/*.ciao1 {*/
/*    background-color: #8e44ad;*/
/*    margin: 0;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/

.card {
    background-color: #fff;
    min-width: 100%;
    min-height: 200px;
}

.card--content {
    background-color: #e74c3c;
    min-width: 200px;
    margin: 5px;
}

.card {
    overflow-x: auto;
}

.card {
    display: flex
}