/*** FOOTER STYLESHEET ***/
footer {
    /*padding: 2% 0 1%;*/
    padding: 20px 0;
    background-color: hsl(0, 0%, 76%);
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook-f {
    background: #3B5998;
}

.fab:hover {
    color: black;
}

.fab {
    color: #fff;
    padding: 6px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 20%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}

.fa-linkedin-in {
    background: #007bb5;
}

#colonnaContatti .contenitore_contatti p {
    padding-top: 4px;
}

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.contenitore_contatti > p {
    margin: 20px 0 !important;
    height: 35px;
}

@media screen and (max-width: 576px) {


    span.fas {
        display: none;
    }

    .link_social {
        display: none;
    }

    /*.footer-copyright{
        padding-bottom: 20px !important;
    }*/
}