h1 {
    text-align: center;
}

.messaggio {
    /*margin: 10px 0;*/
}

button {
    background-color: rgb(180, 180, 180);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
}

.messaggio > div > .row {
    margin: 10px 0;
}

.testo_messaggio {
    padding: 0 18px;
    display: none;
    overflow: hidden;
}

.separatore {
    margin: 0 !important;
}

button:hover, button.selected {
    background-color: rgb(100, 100, 100);;
}