body{
    background-image: url('./../../homepage/background/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.mycustom-jumbotron {
    margin: 9% 10% 5%;
    padding: 1%;
}

div[class="row title"]{
    margin: 10px auto;
}

h1{
    font-size: xx-large;
}

p > span{
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

img[alt="event_logo"]{
    max-width: 100%;
    max-height: 100%;
}