﻿/*.navbar {
    position: fixed;
    top: 0;
    width: 100%;
}*/

:root {
}

body {
    background-color: rgb(230, 230, 230);
}

#zone_title {
    padding: 0;
    margin: 0;
}

.cont {
    max-width: 100%;
    height: 100%;
    border-radius: 0px;
    box-shadow: 0 0 10px grey;
    overflow: hidden;
}

div.jumbotron {
    background: rgba(245, 245, 245, 0.6);
}

.casella_evento {
    padding: 20px 40px;
}

a:link {
    text-decoration: none;
}

.cont:hover {
    background-color: rgba(0, 0, 0, 0.2);
    filter: brightness(50%);
}

.event_image_row {
    margin: 0;
    padding: 0;
}

    .event_image_row .col {
        /*padding: 0;*/
    }

.event_image {
    width: 100%;
}

h6 {
    /*padding: 10px auto 10px;*/
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: rgba(140, 0, 0, 0.6);
    margin: 0 !important;
}

.event_name_row {
    /*margin: 0 auto 15px;*/
}

#main_content_row {
    height: 100%;
}

/******   INIZIO VERSIONE >= 1800  ********/

@media screen and (min-width: 1920px) {
    
    #zone_title {
        font-size: xxx-large;
    }

    div.col-12#immagine_dietro > .row {
        margin-top: 100px;
        /*height: 350px !important;*/
    }
    .events_row {
        width: 1801px !important;
        margin: 0 auto !important;
    }
}

/****** FINE VERSIONE ********/


/******   INIZIO VERSIONE >= 901PX & <= 1800  ********/

@media screen and (min-width: 901px) and (max-width: 1800px) {

}

/****** FINE VERSIONE ********/


/****** INIZIO VERSIONE >= 577PX ********/

@media screen and (min-width: 1280px) {
    #immagine_dietro {
        height: 700px;
        width: 100%;
        background-image: url('./../background/background.png');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 100% 100%;
    }

    .type_events {
        padding-top: 20px;
        margin: 20px auto;
    }
}

/****** FINE VERSIONE ********/

/****** VERSIONE SMALL <= 576PX **********/

@media screen and (max-width: 1279px) {

    #immagine_dietro {
        background-image: url('./../background/background.png');
        background-size: cover;
    }

        #immagine_dietro > .row {
            height: 100%;
        }

    h1 {
        text-align: center;
        font-size: xx-large !important;
    }


    h2 {
        font-size: x-large !important;
    }


    .cont {
        border-radius: 0 !important;
    }
}

/****** FINE VERSIONE SMALL ******/
