<footer class="page-footer font-small">
  <!-- Footer Links -->
  <div class="container-fluid">

    <div class="row justify-content-center text-center">

      <div class="col-8 col-sm-6 col-xl-4 order-xl-1" id="colonnaContatti">

        <!-- Contatti -->
        <h5 class="text-uppercase font-weight-bold ">
          Contatti
        </h5>

        <div class="contenitore_contatti">
          <p>
            <span class="fas fa-envelope mr-2"></span>
            eventsfinder@gmail.com
          </p>
          <p>
            <span class="fas fa-phone mr-2"></span>
            + 1234 456 987
          </p>
          <p>
            <span class="fas fa-print mr-2"></span>
            + 7485 963 247
          </p>
        </div>

      </div>


      <div class="col-4 col-sm-6 col-xl-4 order-xl-3" id="colonnaSocial">

        <!-- Social -->
        <h5 class="text-uppercase font-weight-bold">
          Social
        </h5>

        <div class="contenitore_contatti">
          <!-- Facebook -->
          <p>
            <a href="#" class="fab fa-facebook-f" title="Facebook logo"></a>
            <a href="#" class="link_social">Events Finder</a>
          </p>
          <!--Linkedin -->
          <p>
            <a href="#" class="fab fa-linkedin-in" title="Linkedin logo"></a>
            <a href="#" class="link_social">EventsFinder</a>
          </p>
          <!--Instagram-->
          <p>
            <a href="#" class="fab fa-instagram" title="Instagram logo"></a>
            <a href="#" class="link_social">Events_Finder</a>
          </p>
        </div>

      </div>

      <div class="col-xl-4 order-xl-2">
        Vuoi entrare a far parte del team degli organizzatori? </br>
        <a href="./register.php?tipo=1">Clicca qui!</a>
      </div>

    </div>

  </div>

  <hr class="hrstyle">

  <div class="footer-copyright text-center">© 2020 Copyright: Events Finder</div>
</footer>