﻿/**************************************************************
                         HOMEPAGE CSS
**************************************************************/

:root {
}



/*  Inizia la lista di parti uguali ovunque */

html,
body {
    height: 100%;
    margin: 0
}

body {
    background-color: hsl(0, 0%, 90%);
}

body {
    display: flex;
    flex-flow: column;
    height: 100%;
}


header {
    flex: 0 1 auto;
}

footer {
    flex: 0 1 40px;
}

section {
    flex: 1 1 auto;
}


section > .container-fluid {
    padding: 0;
}

section.main_section > .container-fluid {
    height: 100%;
    background-image: url('../images/background/background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

section#home > .container-fluid {
    height: 600px;
    width: 100%;
    background-size: 100% 85%;
}

section > .container-fluid > #main_content_row {
    justify-content: center !important;
    align-content: center !important;
}

#main_content_row {
    height: 100% !important;
    padding: 20px 0;
    /*     width: 100%; */
}

jumbotron {
    text-align: center;
}

.mycustom-jumbotron {
    background-color: rgba(230, 230, 230, 0.6) !important;
}

.mycustom-jumbotron label {
    display: none;
}

.mycustom-jumbotron > form > input {
    background-color: hsla(0, 0%, 100%, 0.75);
}

label {
    display: none;
}

label.seeInput {
    display: initial;
}


#zone_title {
    padding: 0;
    margin: 0;
}

.events_row {
    padding-left: 20px;
    padding-right: 20px;
}

.event_image {
    width: 100%;
}

.event_image_row {
    margin: 0 !important;
    padding: 0 !important;
}

.event_image_row .col {
    padding: 0;
}

.cont {
    max-width: 100%;
    height: 100%;
    border-radius: 0;
    box-shadow: 0 0 10px grey;
    overflow: hidden;
}

.cont:hover {
    background-color: rgba(0, 0, 0, 0.2);
    filter: brightness(50%);
}

.casella_evento {
    padding: 20px 20px;
}

a:link {
    text-decoration: none;
}

.event_name {
    text-align: center;
    font-weight: bold;
    color: rgba(50, 50, 50, 1);
    padding-top: 5px;
    padding-bottom: 15px;
}

h6 {
    /*padding: 10px auto 10px;*/
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    font-size: medium;
    color: rgba(140, 0, 0, 0.6);
    margin: 0 !important;
}

input[type=email], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    /*box-sizing: border-box;*/
}

p[class="psw"] {
    font-size: large;
}
span[class="psw"] {
    font-size: large;
}

button[type="submit"] {
    background-color: hsl(225, 35%, 38%);
    color: white;
    padding: 12px 20px;
    margin: 8px 0 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button[type="submit"]:hover {
    background-color: hsla(224, 45%, 48%, 0.9);
}


.incorrect {
    padding: 10px 0;
    margin: 0;
    display: block;
    font-size: large;
    color: hsl(0, 100%, 40%);
    text-decoration: underline;
    font-weight: bold;
}

.row-input {
    margin-bottom: 2% !important;
}

/*  Finisce la lista di parti uguali ovunque */

@media screen and (min-width: 1601px) {
    .casella_evento {
        padding: 20px 2% !important;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .casella_evento {
        padding: 20px 20px !important;
    }
}


/******   INIZIO VERSIONE >= 1800  ********/

@media screen and (min-width: 1801px) {


    .events_row {
        width: 1801px !important;
        margin: 0 auto !important;
    }
}

/****** FINE VERSIONE ********/


@media screen and (min-width: 1400px) {
    #main_content_row > div#colonna_jumbotron {
        max-width: 953px !important;
        padding: 0;
    }

    #jumbotron {
        margin: 0;
        height: 320px;
        padding-top: 80px;
    }

    #jumbotron > form {
        padding-top: 60px !important;
    }

    #jumbotron > form > input {
        max-width: 800px;
        margin: 0 auto;
    }
}


@media screen and (min-width: 992px) {

    #main_content_row {
        justify-content: center !important;
        align-content: center !important;
    }

    #jumbotron {
        text-align: center;
    }

    #jumbotron > form {
        padding-top: 45px;
    }
}


/****** INIZIO VERSIONE >= 577PX ********/

@media screen and (min-width: 577px) {
    div.eventi > div.container-fluid {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .type_events {
        padding-top: 0;
        margin: 20px auto;
    }
}

/****** FINE VERSIONE ********/

/****** ZONA JUMBOTRON - VERSIONE SMALL <= 800PX **********/

@media screen and (max-width: 991px) {

    section > .container-fluid {
        background-image: url('../images/background/background.png');
        background-size: 100% 100%;
    }

    section#home > .container-fluid {
        height: 300px;
    }

    jumbotron {
        padding-top: 85px;
        margin: 0 !important;
        height: 100% !important;
        border-radius: 0;
    }

    jumbotron > form {
        padding-top: 30px;
    }

    h1 {
        text-align: center;
        font-size: xx-large !important;
    }
}


/****** ZONA EVENTI - VERSIONE SMALL <= 576PX **********/

@media screen and (max-width: 576px) {

    div.eventi {
        padding-top: 15px;
    }

    h2 {
        font-size: x-large !important;
    }


    .cont {
        border-radius: 0 !important;
    }

    .casella_evento {
        padding: 10px !important;
    }

    .events_row {
        padding: 10px !important;
    }
}

/****** FINE VERSIONE SMALL ******/


/**************************************************************
                     HOMEPAGE CSS FINE
**************************************************************/
