/*************************************************************
                        NAVBAR CSS FINE
 *************************************************************/
:root {
    --height: 70px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.panel > a{
    color: hsl(0, 0%, 30%); !important;
}

#logo_navbar {
    height: var(--height);
    padding: 10px !important;
}

#image_logo_navbar {
    max-height: 100%;
    box-shadow: 0px 0px 20px 2px hsl(0, 0%, 70%);
    border-radius: 4px;
}

.topnav {
    overflow: hidden;
    background-color: rgba(210, 210, 210, 0.8);
}

div.panel a{
    height: var(--height);
    padding: 23px 10px;
}

#search_form_id{
    padding: 16px 0;
    margin-top: 2px;
}

#search_form_id > input{
    box-shadow: 0 0 30px 2px hsl(0, 0%, 80%);
}

#search_form_id > label{
    display: none;
}

/*******************************************
CAMBIO DI CSS RIGUARDO IL SEARCH PER FAR SI
CHE CI SIA UNA RELAZIONE CON LA GRANDEZZA
DEL JUMBOTRON.
*******************************************/
@media screen and (min-width: 1450px){
    div.topnav > div.container-fluid{
        padding: 0;
        position: absolute;
        right: 245px;
        left: 245px;
        width: 952px !important;
    }

    #myTopnav > div.container-fluid > div.row > div.col-12 > #search_form_id{
        width: 100%;
    }
}


@media screen and (min-width: 1288px) and (max-width: 1450px){
    div.topnav > div.container-fluid{
        padding: 0;
        position: absolute;
        right: 245px;
        left: 245px;
        width: 800px !important;
    }

    #myTopnav > div.container-fluid > div.row > div.col-12 > #search_form_id{
        width: 100%;
    }
}

@media screen and (min-width: 1038px) and (max-width: 1287px){
    div.topnav > div.container-fluid{
        padding: 0;
        position: absolute;
        right: 245px;
        left: 245px;
        width: 550px !important;
    }

    #myTopnav > div.container-fluid > div.row > div.col-12 > #search_form_id{
        width: 100%;
    }
}

@media screen and (min-width: 901px) and (max-width: 1037px){
    div.topnav > div.container-fluid{
        padding: 0;
        position: absolute;
        /*right: 245px;*/
        left: 60px;
        width: 550px !important;
    }

    #myTopnav > div.container-fluid > div.row > div.col-12 > #search_form_id{
        width: 100%;
    }
}


/*******************************************
                  FINE
*******************************************/
@media screen and (min-width: 901px ){
    .panel{
        position: absolute;
        right: 10px;
        top: 0;
        height: var(--height);
    }
}

.topnav a, .topnav form {
    float: left;
    display: block;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: hsl(0, 0%, 70%);
    color: black;
}

.topnav #search_button:hover{
    text-decoration: none;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#magnify {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

.topnav #search_button, .topnav #burger_button {
    padding: 22px 22px;
    display: none;
    height: var(--height);
}


@media screen and (max-width: 900px) {
    div.panel a, .topnav form {
        display: none;
    }

    .topnav #burger_button, .topnav #search_button {
        /*float: right;*/
        position: absolute;
        display: block;
        top: 0;
        color: black;
    }

    #burger_button {
        right: 0;
    }

    #search_button {
        right: 60px;
    }
}


/***** PER QUANDO IL BOTTONE È ******/
@media screen and (max-width: 900px) {
    .topnav.responsive {
        position: relative;
    }

    #logo_navbar{
        width: 60px;
    }

    .topnav.responsive a, .topnav.responsive form {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive form{
        padding: 0 4px 4px 4px !important;
    }

    .no_display {
        display: none !important;
    }
}

/*************************************************************
                        NAVBAR CSS FINE
 *************************************************************/