/*************************************************************
                        NAVBAR CSS
 *************************************************************/
:root {
    --height: 70px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.panel > a{
    color: hsl(0, 0%, 30%); !important;
}

#logo_navbar {
    height: var(--height);
    padding: 10px !important;
}

#image_logo_navbar {
    max-height: 100%;
    box-shadow: 0px 0px 20px 2px hsl(0, 0%, 70%);
    border-radius: 4px;
}

.topnav {
    overflow: hidden;
    background-color: rgba(210, 210, 210, 0.8);
}

div.panel a{
    height: var(--height);
    padding: 23px 10px;
}

#search_form_id{
    padding: 16px 0;
    margin-top: 2px;
}

#search_form_id > input{
    box-shadow: 0 0 30px 2px hsl(0, 0%, 80%);
}

#search_form_id > label{
    display: none;
}
@media screen and (min-width: 2001px){
    #search_form_id{
        position: absolute;
        right: 30%;
        left: 30%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1201px) and (max-width: 2000px){

    #search_form_id{
        position: absolute;
        right: 25%;
        width: 50%;
        margin: 0 auto;
    }

    .panel{
        right: 20px;
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
    #search_form_id{
        position: absolute;
        right: 260px;
        left: 200px;
    }

    .panel{
        right: 10px;
    }
}

@media screen and (min-width: 901px ){
    .panel{
        position: absolute;
        right: 10px;
        top: 0;
        height: var(--height);
    }
}

/*@media screen and (min-width: 601px ) and (max-width: 900px) {*/
/*    form{*/
/*        position: absolute;*/
/*        right: 100px;*/
/*        left: 100px;*/
/*    }*/
/*}*/


.topnav a, .topnav form {
    float: left;
    display: block;
    text-align: center;
    /*padding: 14px 16px;*/
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: hsl(0, 0%, 70%);
    color: black;
}

.topnav #search_button:hover{
    text-decoration: none;
}

.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#magnify {
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -o-transform: rotate(315deg);
    transform: rotate(315deg);
}

.topnav #search_button, .topnav #burger_button {
    padding: 22px 22px;
    display: none;
    height: var(--height);
}


@media screen and (max-width: 900px) {
    div.panel a, .topnav form {
        display: none;
    }

    .topnav #burger_button, .topnav #search_button {
        /*float: right;*/
        position: absolute;
        display: block;
        top: 0;
        color: black;
    }

    #burger_button {
        right: 0;
    }

    #search_button {
        right: 60px;
    }
}


/***** PER QUANDO IL BOTTONE È ******/
@media screen and (max-width: 900px) {
    .topnav.responsive {
        position: relative;
    }

    /*.topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }*/

    #logo_navbar{
        width: 60px;
    }

    .topnav.responsive a, .topnav.responsive form {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive form{
        padding: 0 4px 4px 4px !important;
    }

    .no_display {
        display: none !important;
    }
}

/*************************************************************
                        NAVBAR CSS FINE
 *************************************************************/

:root {

}

/*** FOOTER STYLESHEET ***/
footer {
    /*padding: 2% 0 1%;*/
    padding: 20px 0;
    background-color: hsl(0, 0%, 76%);
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook-f {
    background: #3B5998;
}

.fab:hover {
    color: black;
}

.fab {
    color: #fff;
    padding: 6px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    margin: 2px 2px;
    border-radius: 20%;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
}

.fa-linkedin-in {
    background: #007bb5;
}

#colonnaContatti .contenitore_contatti p {
    padding-top: 4px;
}

.fa-instagram {
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.contenitore_contatti > p {
    margin: 20px 0 !important;
    height: 35px;
}

@media screen and (max-width: 576px) {


    span.fas {
        display: none;
    }

    .link_social {
        display: none;
    }

    /*.footer-copyright{
        padding-bottom: 20px !important;
    }*/
}